<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".QuizApp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizDroid"
        tools:targetApi="31">
        <activity android:name=".questions.PhysicsActivity"/>
        <activity android:name=".questions.MathActivity"/>
        <activity android:name=".questions.MarvelActivity"/>
        <activity android:name=".questions.MathQuestionOneActivity"/>
        <activity android:name=".questions.MarvelQuestionOneActivity"/>
        <activity android:name=".questions.PhysicsQuestionOneActivity"/>
        <activity android:name=".questions.MathQuestionTwoActivity"/>
        <activity android:name=".questions.MarvelQuestionTwoActivity"/>
        <activity android:name=".questions.PhysicsQuestionTwoActivity"/>
        <activity android:name=".questions.MathAnswerOneActivity"/>
        <activity android:name=".questions.MarvelAnswerOneActivity"/>
        <activity android:name=".questions.PhysicsAnswerOneActivity"/>
        <activity android:name=".questions.MathAnswerTwoActivity"/>
        <activity android:name=".questions.MarvelAnswerTwoActivity"/>
        <activity android:name=".questions.PhysicsAnswerTwoActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>